# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# aws config files
vi88i-dev.csv
aws_config.json

# static
todo
*.exe
__pycache__
.vscode/